body {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    line-height: 1.65em;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    background: rgba(78,192,254,1);
background: -moz-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(78,192,254,1)), color-stop(100%, rgba(55,144,217,1)));
background: -webkit-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
background: -o-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
background: -ms-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
background: linear-gradient(to right, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec0fe', endColorstr='#3790d9', GradientType=1 );
padding-top: 60px;
color: #fff;
padding-bottom: 140px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 37px;
}

.title span {
    font-size: 59px;
}

.intro {
font-family: 'Open Sans', sans-serif;;
margin-bottom: 37px;
width: 405px;;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background: #ffd429;
    color: #000;
    display: block;
    width: 221px;
    padding: 19px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #f5c242;
}

.desktop {
    margin-top: 54px;
}

.learn h2 {
padding-top: 108px;
padding-bottom: 120px;
}

.learn {
    padding-bottom: 120px;
}

.skills {
    display: flex;
    justify-self: space-between;
    justify-content: space-between; 
}

.skill {
    width: 299px;
background: url('../img/icon1.jpg') no-repeat top;
padding-top: 100px;
}

.skill-free {
width: 289px;
background: url('../img/icon2.jpg') no-repeat top;
}

.skill-change {
    width: 299px;
    background: url('../img/icon3.jpg') no-repeat top;
    padding-top: 100px;
}

.skill-text {
    margin-top: 10px;
}

p.skill-text {
    text-align: center;
}

.mail {
    background: #ecf3f8;
    padding-top: 100px;
    padding-bottom: 100px;
}

input {
    width: 100%;
    border: 1px solid #bbb;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    height: 54px;
    display: flex;
    position: relative;
    top: 60px;
    padding-left: 25px;
    margin-top: 15px;
    
}

.btn-form {
    border: 0;
    cursor: pointer;
    width: 100%;
    margin-top: 75px;
}

.form {
    margin-top: 65px 0;  
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
    margin: 0 auto;
}

.creadits {
    color: #fff;

}

.footer {
    padding: 59px 0;
    background: #164d7a;
    text-align: center;

}

@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .btn {
        width: 100%;
    }
    p {
        width: auto;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    .wrapper {
        flex-direction: column;
    }

    .intro {
        width: 100%;
    }
    .skills {
        flex-direction: column;
    }
    .skill {
        width: auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    img {
width: 100%;
    }
.logo {
    width:98px;
    height: 38px;
}
}

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    .btn {
        display: none;
    }
}